.container1 {
    width: 10000px;
    margin-inline-start: -100px;
    margin-top: -20px;
    padding: 130px;
    height: 120px;
    background-color: #FFD700;
}
.heading1 {
    font-size: 65px;
    margin-top: -60px;
}   
.peeking.guy {
    margin-top: 110px;
    margin-left:400px;
   height: auto;
   width: 450px;
}
.container2 {
    width: 10000px;
    margin-inline-start: -100px;
    margin-top: 120px;
    padding: 50px;
    height: 120px;
    background-color: #3e75a6;
}
.pracing1 {
   font-size: 38px;
    margin-top: -95px;
    margin-left: 50px;



}
.training1 {
    width: 30px;
    height: 105px;
    margin-inline-start: 100px;
    margin-top: -30px;
    padding: 50px;
    margin-left: 80px;
    background-color: #a2abb2;
    border-radius: 25px;
    transition: box-shadow 0.2s ease;
    
}
.button1 {
    color: white;
    background-color: #FFD700;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-top: 105px;
    margin-left: -35px;
    border-style: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease, opacity 0.1s ease;

}  
.training1:hover {
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
}
.button1:active {
    opacity: 0.9;
}
.button1:hover {
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.2);
}
.training1text {
    font-size: 14px;
    margin-top: -180px;
    margin-left: -45px;
    white-space: nowrap;
}
.training2text {
    font-size: 30px;
    margin-top: 60px;
    margin-left: -5px;
    white-space: nowrap;
}


